*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .parent{
     width: 30%;
     height: 60%;
     background-color: blue;
     overflow: hidden;
     position: relative;
     border: 1px solid black;
     box-shadow: 1.5px 3px 5px #ccc;
     border-radius: 12px 12px 0 0;
     transition: all 0.4s linear;

  }
  .up{
    width: 100%;
    height: 100%;
    background-color: green;
    overflow: hidden;
    position:absolute;
    transition-property : all;
    transition-duration: 3s;
    /* transition-delay: .5s; */
    transition-timing-function: ease;
    transform-origin: center;
    
    
  }
  .down{
    width: 0%;
    height: 1%;
    background-color: red;
    transition-property: all;
    position:absolute;

    transition-duration: 3s;
    /* transition-delay: ; */
    transition-timing-function: linear;
    bottom: 0;
    z-index: 1;

  }
  .parent:hover .up{
    height: 110%;
    width: 110%;
  }